<div class="row">
    <div class="col-3">
        <input type="checkbox" [(ngModel)]="isOfferCodeAvl">Do you have any offer code?
        <br>
        --{{isOfferCodeAvl}}--

    </div>
    @if (isOfferCodeAvl === true) {
    <div class="col-3">
        <input type="text" class="form-control" placeholder="Enter offer code">
    </div>
    }
    <div class="row">
        <div class="col-3">
            @if(isSuccessDivVisible() === true){
            <div class="bg-success p-3">
                Success Div
            </div>
            } @else {
            <div class="bg-danger p-3">
                Error Div
            </div>
            }
        </div>
        <div class="col-3">
            <button class="btn btn-success" (click)="toggleDivVisiblity()">Toggle</button>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-3">
        <input type="text" placeholder="%" [(ngModel)]="studentTotalMarks" class="form-control">
    </div>
    <div class="col-3">
        @if (studentTotalMarks>70) {
        <strong class="text-success">Student has A Grade</strong>
        } @else if (studentTotalMarks<70 && studentTotalMarks>50){
            <span class="text-success">Student has B Grade</span>
            } @else if (studentTotalMarks<50 && studentTotalMarks>35){
                <span class="text-success">Student has C Grade</span>
                } @else {
                @if (studentTotalMarks==0) {
                <span>Enter Marks</span>
                } @else {
                <span class="text-danger">Student Failed</span>
                }
                }
    </div>
</div>

<br>
<div class="row">
    <div class="col-3">
        <ul>
            @for (item of offerList; track $index) {
            <li>{{item}}</li>
            }
        </ul>
    </div>
    <div class="col-8">
        @for (item of productCategoryList; track $index) {
        <button class="btn btn-primary mx-2">{{item}}</button>
        }
    </div>
</div>
<div class="row">
    <div class="col-6">
        <table class="table table-boardered">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @for (item of employeeList; track $index) {
                <tr>
                    <td>{{$index+1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.city}}</td>
                    <td>
                        @if (item.isActive=== true) {
                        <strong class="text-success">Active</strong>
                        } @else {
                        <strong class="text-danger">Deactive</strong>
                        }
                    </td>
                </tr>
                }
            </tbody>

        </table>
    </div>
</div>